{% extends 'base.html.twig' %}

{% block title %}Easy Wedding {{ controller_name }}!{% endblock %}

{% block body %}






        <main>

            {% use "bootstrap_4_layout.html.twig" %}

            <div class="row">
                <div id="slideshow" class="offset-lg-2 col-sm-10 col-lg-10">

                    <div id="defilement" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#defilement" data-slide-to="0" class="active"></li>
                            <li data-target="#defilement" data-slide-to="1"></li>
                            <li data-target="#defilement" data-slide-to="2"></li>
                            <li data-target="#defilement" data-slide-to="3"></li>
                            <li data-target="#defilement" data-slide-to="4"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="img/pix1-0.jpg" alt="chat" width="1100" height="500">
                                <div class="carousel-caption">
                                    <h3>Mariage1</h3>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="img/pix3-1.jpg" alt="chat" width="1100" height="500">
                                <div class="carousel-caption">
                                    <h3>Mariage2</h3>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="img/pix4-3.jpg" alt="Chat" width="1100" height="500">
                                <div class="carousel-caption">
                                    <h3>Mariage3</h3>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="img/pix2-2.jpg" alt="Chat" width="1100" height="500">
                                <div class="carousel-caption">
                                    <h3>Mariage4</h3>
                                </div>
                            </div>

                        </div>
                        <a class="carousel-control-prev" href="#defilement" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#defilement" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">

                <div id="centre" class="offset-lg-2 col-sm-12 col-lg-8" >
                    <section id="illustrations">
                        <a href="{{ path('ouvriers_formulaire') }}"> <img src="img/robe.png"></a>
                        <a href="{{ path('professionnels') }}"> <img src="img/bague.png"></a>
                        <a href="{{ path('professionnels') }}"> <img src="img/champ.png"></a>
                        <a href="{{ path('professionnels') }}"> <img src="img/costume.png"></a>
                        <a href="{{ path('professionnels') }}"> <img src="img/dj.png"></a>
                        <a href="{{ path('professionnels') }}"> <img src="img/repas.png"></a>
                    </section>
                </div>



            </div>
        </main>


    </div>



{% endblock %}
