<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
            <script type="text/javascript" src={{ asset('build/app.js') }}></script>
            <link rel ="stylesheet" type="text/css" href={{ asset("build/app.css") }}>
        {% endblock %}
    </head>
    <body>

    <div class="container-fluid">

        <div class="row">
            <div id="fondlogo" class="col-sm-8 col-lg-8">
                <div id="logo">
                    <img src="img/Logo.png">
                </div>
            </div>
            <div id="infocompte" class="col-sm-4 col-lg-4">
                <div class="compte"><h2>Mon Compte</h2></div>
                <div class="compte"><h2>Inscrivez-vous</h2></div>
            </div>
        </div>
        <div class="row">
            <div id="menu1" class="col-sm-12 col-lg-12">
                <nav class="menu">
                    <ul>
                        <li>
                            <a href="{{ path('home') }}">>Accueil</a>
                        </li>
                        <li>
                            <a href="{{ path('prestation') }}">>Lieux</a>
                        </li>
                        <li>
                            <a href="{{ path('lieux') }}">>Prestation</a>
                        </li>
                        <li>
                            <a href="{{ path('forum') }}">>Forum invités</a>
                        </li>
                        <li>
                            <a href="{{ path('professionnels') }}">>Professionnels</a>
                        </li>
                        <li>
                            <a href="{{ path('contact') }}">>Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>




        {% block body %}{% endblock %}




        <footer>
            <div id="rose" class="row">
                <div id="blue" class="offset-lg-2 col-sm-4 col-lg-2"><h2>RESEAUX SOCIAUX</h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam aspernatur blanditiis consequuntur dolor dolore earum esse hic ipsa labore magni nam natus praesentium quae quaerat quod similique, ullam vel.
                </div>
                <div id="blue" class="offset-lg-1 col-sm-4 col-lg-2"><h2>QUI SOMMES NOUS</h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consectetur cumque doloremque doloribus iusto molestiae mollitia ut vitae? Doloribus eveniet ex laboriosam libero magni, minus natus quis repellat sapiente sunt.
                </div>
                <div id="blue" class="offset-lg-1 col-sm-4 col-lg-2"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d41101.894107878936!2d1.0484701373485654!3d49.920045177734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e0a207670619f9%3A0xaea20a3d78418545!2s76200+Dieppe!5e0!3m2!1sfr!2sfr!4v1526308758965" width="300" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </footer>

    </div>




        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
